@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --color-bg-body: hsl(225, 100%, 94%);
  --white: #fff;
  --bright-blue: hsl(245, 75%, 52%);
  --color-inner-box: hsl(225, 100%, 98%);
  --color-text: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
}

html { font-size: 16px; }

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--color-bg-body);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

.order-summary {
  background-color: var(--white);
  min-width: calc(350px - 1.25rem);
  max-width: 400px;
  margin: 1.25rem;
  border-radius: 1.25rem;
  overflow: auto;
}

.pic img{
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.title {
  color: var(--dark-blue);
  font-size: 1.4rem;
  font-weight: 900;
  margin: 1.75rem 0 0;
}

.subtitle {
  color: var(--color-text);
  padding: 0 2.25rem;
  line-height: 1.5em;
}

.plan-price-box {
  background-color: var(--color-inner-box);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.75rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.plan-price-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2 1 50%;
  padding-left: 1.25rem;
}

.plan {
  color: var(--dark-blue);
  font-weight: 900;
  margin-bottom: 0.25rem;
}

.price { color: var(--color-text); }

.change-plan-price-link {
  color: var(--bright-blue);
  font-weight: 900;
}

.change-plan-price-link:hover {
  color: hsl(245, 83%, 68%);
  text-decoration: none;
}

.checkout-btn {
  background-color: var(--bright-blue);
  color: var(--white);
  font-weight: 900;
  margin: 1em 1em 0.5em;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 18px 30px -7px rgb(197, 189, 245);
}

.checkout-btn:hover {
  background-color: hsl(245, 83%, 68%);
  cursor: pointer;
}

.cancel-btn {
  color: var(--color-text);
  font-weight: 900;
  margin: 0 1rem 1rem;
  padding: 1rem;
}

.cancel-btn:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

